<form>
  <div class="mb-3">
    <input type="text"required name="title" class="form-control"placeholder="title here..." >
  </div>
  <div class="mb-3">
    <textarea class="form-control" name="text" id="exampleFormControlTextarea1" placeholder="text here..." rows="3"></textarea>
  </div>
  <div class="mb-3">
    <input type="text" class="form-control" required  name="imagePath" placeholder="imagePath here...">
  </div>
  <button type="button" class="btn btn-dark" >Add</button>
  <button type="button" class="btn btn-dark" >Save</button>
</form>
<hr>
<div class="w-100">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Text</th>
      <th scope="col">Date</th>
      <th scope="col">Image</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr >
      <td> </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td> </td>
      <td>
        <div>
          <button type="button" class="btn btn-dark" >Edit</button>
        </div>
      </td>
      <td>
        <button type="button" class="btn btn-dark" >Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


