<form>
  <div class="mb-3">
    <input type="text" [(ngModel)]="name"  required name="name" class="form-control"placeholder="name here..." >
  </div>
  <div class="mb-3">
    <input type="text" [(ngModel)]="imagePath" class="form-control" required  name="imagePath" placeholder="imagePath here...">
  </div>
  <div class="mb-3">
    <textarea [(ngModel)]="description" class="form-control" required  name="description" id="exampleFormControlTextarea1" placeholder="description here..." rows="3"></textarea>
  </div>
  <div class="mb-3">
    <input type="text" [(ngModel)]="country" class="form-control" required  name="country" placeholder="country here...">
  </div>
  <div class="mb-3">
    <input type="text" [(ngModel)]="genre" class="form-control" required  name="genre" placeholder="genre here...">
  </div>
  <div class="mb-3">
    <input type="text" [(ngModel)]="year" class="form-control" required  name="year" placeholder="year here...">
  </div>
  <div class="mb-3">
    <input type="text" [(ngModel)]="producer" class="form-control" required  name="producer" placeholder="producer here...">
  </div>
  <div class="mb-3">
    <input type="text" [(ngModel)]="duration" class="form-control" required  name="duration" placeholder="duration here...">
  </div>
  <div class="mb-3">
    <input type="text" [(ngModel)]="age" class="form-control" required  name="age" placeholder="age here...">
  </div>
  <div class="mb-3">
    <input type="text" [(ngModel)]="format" class="form-control" required  name="format" placeholder="format here...">
  </div>
  <div class="mb-3">
    <input type="text" [(ngModel)]="actors" class="form-control" required  name="actors" placeholder="actors here...">
  </div>
  <button  type="button" class="btn btn-dark" >Add</button>
  <button  type="button" class="btn btn-dark" >Save</button>
</form>
<hr>
<div class="w-100">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Description</th>
      <th scope="col">Country</th>
      <th scope="col">Genre</th>
      <th scope="col">Year</th>
      <th scope="col">Producer</th>
      <th scope="col">Duration</th>
      <th scope="col">Age</th>
      <th scope="col">Format</th>
      <th scope="col">Actors</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let film of films, let id = index" >
      <td> {{ id+1 }} </td>
      <td> {{ film.name }} </td>
      <td> {{ film.imagePath }}  </td>
      <td> {{ film.description }} </td>
      <td> {{ film.country }} </td>
      <td> {{ film.genre }} </td>
      <td> {{ film.year }} </td>
      <td> {{ film.producer }} </td>
      <td> {{ film.duration }} </td>
      <td> {{ film.age }} </td>
      <td> {{ film.format }} </td>
      <td> {{ film.actors }} </td>
      <td>
        <div>
          <button type="button" class="btn btn-dark" >Edit</button>
        </div>
      </td>
      <td>
        <button type="button" class="btn btn-dark" >Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


